@mixin flex($direction: row, $justify: space-between) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

@mixin font($weight: bold, $size: 12px, $spacing: -0.25px) {
  font: {
    style: normal;
    weight: $weight;
    size: $size;
  }
  letter-spacing: $spacing;
}