.dark-mode {
  background-color: $darkBackground;
  color: $white;
  header {
    .invoices {
      h1 {
        color: $white;
      }
      p {
        color: $darktextPurple;
      }
    }
    .buttons .dropdown {
      button p {
        color: $white;
      }
      .dropdown-content {
        background-color: $darkBackgroundDropdown;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        label {
          color: $white;
        }
        input {
          background-color: $darkBackgroundInvoice;
        }
      }
    }
  }
  main {
    .invoice {
      background-color: $darkBackgroundInvoice;
      .invoice-id,
      .invoice-total {
        color: $white;
      }
      .draft {
        background-color: $darkDraftButton;
        color: $darkDraftButtonText;
      }
    }
  }
}
